@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import 'tailwindcss';
/* import Konsta UI v5 theme */
@import 'konsta/vue/theme.css';

@theme {
    --color-brand-primary: #007aff;
    --color-brand-red: #ff3b30;
    --color-brand-green: #4cd964;
    --color-brand-yellow: #ffcc00;
    --color-brand-purple: #9c27b0;
    --color-brand-blue: #2196f3;
}
